[user]
  name = GIT_USER_NAME
  email = GIT_USER_EMAIL

[credential]
  helper = GIT_CREDENTIAL_HELPER

[core]
  excludesfile = ~/.gitignore
  editor = subl -w

[color]
  ui = true

[apply]
  whitespace = nowarn

[mergetool]
  keepBackup = false

[alias]
  co = checkout
  po = pull origin
  pso = push origin
  cm = commit -m 
  br = branch
  st = status
