extends javascript

snippet constf "Const function" b
const $1 = ($2): $3 => {
	$4
};
endsnippet

snippet econstf "Const function" b
export const $1 = ($2): $3 => {
	$4
};
endsnippet

snippet type "TypeScript type" b
type $1 = $2;
endsnippet

snippet enum "TypeScript enum" b
enum $1 {
	$2,
}
endsnippet

snippet psaf "Public static async function" b
public static async $1($2)${3:: $4} {
  $5
}
endsnippet

snippet paf "Public async function" b
public async $1($2)${3:: $4} {
  $5
}
endsnippet
